<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Registration</title>
<link rel="stylesheet" th:href="@{/taskadminregistration.css}">
</head>
<body>
<form th:action="'/status'" th:object="${taskadmin}" method="POST">
    <h1>Admin Registration</h1>
    <div>
        <label for="name">Admin Name</label>
        <input type="text" placeholder="Enter your name" name="name" th:field="*{name}">
    </div>
    <div>
        <label for="username">Admin Username</label>
        <input type="text" placeholder="Enter Username" name="username" th:field="*{username}">
    </div>
    <div>
        <label for="password">Admin Password</label>
        <input type="password" placeholder="Enter Password" name="password" th:field="*{password}">
    </div>
    <div>
        <input type="submit" value="Register">
    </div>
    <div>
        <a th:href="@{/taskadminlogin}">Login Here</a>
    </div>
</form>
</body>
</html>
